/* Set global background. */
body {
    background: linear-gradient(135deg, #73a5ff, #5477f5); /* Background gradient color. */
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.index-page code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Styles for loading and error screens. */
.index-page.loading-screen, .index-page.error-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: transparent; /* Keep the background transparent to be consistent with the global background. */
}

.loading-logo {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.loading-screen p, .error-screen p {
    font-size: 1.2em;
    color: #333;
}
