/* 设置全局背景 */
body {
    background: linear-gradient(135deg, #73a5ff, #5477f5); /* 背景渐变色 */
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.index-page code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* 加载和错误屏幕的样式 */
.index-page.loading-screen, .index-page.error-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: transparent; /* 保持背景透明以与全局背景一致 */
}

.loading-logo {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.loading-screen p, .error-screen p {
    font-size: 1.2em;
    color: #333;
}
