/* login.css */
.auth-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 320px;
    text-align: center;
}

.auth-container input {
    width: 90%; /* 从 100% 减小到 90% */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    box-sizing: border-box; /* 确保 padding 不影响宽度 */
}

.auth-container button {
    width: 90%; /* 保证按钮与输入框同样宽度 */
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(135deg, #73a5ff, #5477f5);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-bottom: 10px;
}

.auth-container button:hover {
    background: linear-gradient(135deg, #5477f5, #73a5ff);
}

.auth-container .error-message {
    color: red;
}

















.uuid-input-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.uuid-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.auth-container, .uuid-input-container {
    background-color: #f9f9f9; /* 确保输入框容器有轻微背景对比 */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 15px;
}

.uuid-input-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.uuid-input-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.uuid-input-container input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.uuid-input-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px; /* 一致的按钮间距 */
}

.uuid-input-container button:hover {
    background-color: #0056b3;
}

.uuid-input-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}